<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.guagua.dao.member.MemberPropertyDao">

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.guagua.bean.entity.member.MemberProperty">
        INSERT INTO t_member_property (user_id) VALUES (#{userId})
    </insert>

    <update id="update">
        UPDATE t_member_property SET
        <trim suffixOverrides=",">
            <if test="property.balance != null">balance = #{property.balance},</if>
            <if test="property.withdrawCashTotal != null">withdraw_cash_total = #{property.withdrawCashTotal},</if>
            <if test="property.incomeTotal != null">income_total = #{property.incomeTotal},</if>
            last_update_time = current_timestamp()
        </trim>
        where id = #{property.id}

    </update>

    <select id="findByUserId" resultType="com.guagua.bean.entity.member.MemberProperty">
        SELECT *
        FROM t_member_property
        WHERE user_id = #{userId}
    </select>
</mapper>