<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.guagua.dao.common.TaskEmploymentDao">

    <insert id="insertOne">
        INSERT INTO t_task_employment (task_id, publisher_id, member_id) VALUES
            (#{taskId}, #{publisherId}, #{memberId})
    </insert>

    <update id="updateStatus">
        UPDATE t_task_employment
        SET `status` = #{status}
        WHERE id = #{id}
    </update>

    <update id="updateScore">
        UPDATE t_task_employment
        SET customer_avg_score = #{score}
        WHERE id = #{id}
    </update>

    <select id="countNumber" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_task_employment
        WHERE task_id = #{taskId}
    </select>

    <select id="findByTaskId" resultType="com.guagua.bean.entity.common.TaskEmployment">
        SELECT *
        FROM t_task_employment
        WHERE task_id = #{taskId}
    </select>

    <select id="findCustomerServiceByTaskId" resultType="com.guagua.bean.entity.common.User">
        SELECT u.*
        FROM t_user u LEFT JOIN t_task_employment t ON u.id = t.member_id
        WHERE t.task_id = #{taskId}
    </select>

    <select id="findByTaskIdAndMemberId" resultType="com.guagua.bean.entity.common.TaskEmployment">
        SELECT *
        FROM t_task_employment
        WHERE task_id = #{taskId} AND member_id = #{memberId}
        LIMIT 1
    </select>

    <select id="getTaskIdsByMemberId" resultType="java.lang.Integer">
        SELECT task_id
        FROM t_task_employment
        WHERE member_id = #{memberId} AND `status` = 1
    </select>

    <select id="findAllCustomerServiceByEnterpriseId" resultType="com.guagua.bean.entity.common.User">
        SELECT DISTINCT u.*
        FROM t_user u LEFT JOIN t_task_employment t ON u.id = t.member_id
        WHERE t.task_id IN (SELECT task.id
                            FROM t_task task LEFT JOIN t_user u2 ON task.enterprise_id = u2.id
                            WHERE u2.id = #{userId})
    </select>

    <select id="findParticipateAllByUserId" resultType="com.guagua.bean.entity.common.Task">
        SELECT t.*
        FROM t_task_employment e LEFT JOIN t_task t ON e.task_id = t.id
        WHERE e.member_id = #{memberId}
    </select>

    <select id="findParticipateNotStartByUserId" resultType="com.guagua.bean.entity.common.Task">
        SELECT t.*
        FROM t_task_employment e LEFT JOIN t_task t ON e.task_id = t.id
        WHERE e.member_id = #{memberId} AND e.status = 0
    </select>

    <select id="findParticipateHaveInHandByUserId" resultType="com.guagua.bean.entity.common.Task">
        SELECT t.*
        FROM t_task_employment e LEFT JOIN t_task t ON e.task_id = t.id
        WHERE e.member_id = #{memberId} AND e.status = 1
    </select>

    <select id="findParticipateEndByUserId" resultType="com.guagua.bean.entity.common.Task">
        SELECT t.*
        FROM t_task_employment e LEFT JOIN t_task t ON e.task_id = t.id
        WHERE e.member_id = #{memberId} AND e.status = 2
    </select>

    <select id="findParticipateCancelByUserId" resultType="com.guagua.bean.entity.common.Task">
        SELECT t.*
        FROM t_task_employment e LEFT JOIN t_task t ON e.task_id = t.id
        WHERE e.member_id = #{memberId} AND e.status = 3
    </select>

    <select id="countNumByMemberAndStatus" resultType="java.lang.Integer">
        select count(*) from t_task_employment where member_id = #{memberId}
        <if test="status != null">
            and `status` = #{status}
        </if>
    </select>

</mapper>