<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.guagua.dao.question.ExaminationPaperDao">

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.guagua.bean.entity.question.ExaminationPaper">
        INSERT INTO t_question_examination_paper
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="bankId != null">bank_id,</if>
            <if test="creator != null">creator,</if>
            <if test="name != null">`name`,</if>
            <if test="description != null">description,</if>
            <if test="type != null">type,</if>
            <if test="status != null">`status`,</if>
            <if test="singleNum != null">single_num,</if>
            <if test="multipleNum != null">multiple_num,</if>
            <if test="judgementNum != null">judgement_num,</if>
            <if test="textNum != null">text_num,</if>
            <if test="num != null">num</if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="bankId != null">#{bankId},</if>
            <if test="creator != null">#{creator},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="singleNum != null">#{singleNum},</if>
            <if test="multipleNum != null">#{multipleNum},</if>
            <if test="judgementNum != null">#{judgementNum},</if>
            <if test="textNum != null">#{textNum},</if>
            <if test="num != null">#{num},</if>
        </trim>
    </insert>

    <update id="updateStatus">
        UPDATE t_question_examination_paper
        SET `status` = #{status}
        WHERE id = #{id}
    </update>

    <select id="findById" resultType="com.guagua.bean.entity.question.ExaminationPaper">
        SELECT *
        FROM t_question_examination_paper
        WHERE id = #{id}
    </select>

    <select id="findByBankId" resultType="com.guagua.bean.entity.question.ExaminationPaper">
        SELECT *
        FROM t_question_examination_paper
        WHERE bank_id = #{bankId}
    </select>

    <select id="findManualByBankId" resultType="com.guagua.bean.entity.question.ExaminationPaper">
        SELECT *
        FROM t_question_examination_paper
        WHERE bank_id = #{bankId} AND type = 1
    </select>
</mapper>